{% load static %}
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Upload Images</title>
        <link type="text/css" rel="stylesheet" href="{% static 'css/stylesheet.css' %}">
        <script class="jsbin" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    </head>

    <body>
        <div class="loading hidden">
          <div class='uil-ring-css' style='transform:scale(0.79);'>
            <div></div>
          </div>
        </div>
        <div class="file-upload">
            <button class="file-upload-btn" type="button" onclick="$('.file-upload-input').trigger('click')">Add Image</button>

            <form id="upload_form" action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="image-upload-wrap">
                    <input id="file-upload-input" class="file-upload-input" type='file' onchange="readURL(this);" accept="image/*" name="image"/>
                    <div class="drag-text">
                        <h3>Drag and drop a file or select add Image</h3>
                    </div>
                </div>
                <div class="file-upload-content">
                    <img class="file-upload-image" src="#" alt="your image" />
                    <div class="image-title-wrap">
                        <button type="button" onclick="removeUpload()" class="remove-image">Remove</button>
                        <button type="button" onclick="submit2()" class="file-submit-btn">Submit</button>
                    </div>
                </div>
            </form>
        </div>
        <script>
            var loadingOverlay = document.querySelector('.loading');
            function toggleLoading(){
              document.activeElement.blur();
              if (loadingOverlay.classList.contains('hidden')){
                loadingOverlay.classList.remove('hidden');
              } else {
                loadingOverlay.classList.add('hidden');
              }
            }

            function readURL(input) {
              if (input.files && input.files[0]) {

                var reader = new FileReader();

                reader.onload = function(e) {
                  $('.image-upload-wrap').hide();

                  $('.file-upload-image').attr('src', e.target.result);
                  $('.file-upload-content').show();

                  // $('.image-title').html(input.files[0].name);
                };

                reader.readAsDataURL(input.files[0]);

              } else {
                removeUpload();
              }
            }

            function removeUpload() {
                $('.file-upload-input').replaceWith($('.file-upload-input').clone());
                $('.file-upload-content').hide();
                $('.image-upload-wrap').show();
                $('.submit').show();
            }

            $('.image-upload-wrap').bind('dragover', function () {
                $('.image-upload-wrap').addClass('image-dropping');
            });
            $('.image-upload-wrap').bind('dragleave', function () {
                $('.image-upload-wrap').removeClass('image-dropping');
            });

            function submit2(){
                toggleLoading();
                $("#upload_form").submit();
            }
        </script>
    </body>
</html>